<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
	<style>
	body {
	  background-color: #FFFFFF;
	}
  code {
    color:red;
    }
</style>
</head>
<body >
	<h4><span id="doc-tab-header"></span><span id="doc-tab-url"></span></h4>
  <body >
	<h4><span id="tab-header"></span><span id="doc-tab-url"></span></h4>
  <div id="how-to">
  </div>
	  <div id="canvas-container" style="position: relative; height:85vh; width:95vw">
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script>
	let selected
	let dataId
	let doc
  let howTo = `<div style="padding-left:50px;">
    <p>This connection should possess the folowing metadata:
    </p>
<ul>
  <li><strong>Inlet Tstrongerature</strong> with the VendorId set to <code>b6</code></li>
  <li><strong>Sea Tstrongerature</strong> with the VendorId set to <code>b7</code></li>
  <li><strong>Flow rate</strong> with the VendorId set to <code>b8</code></li>
  <li><strong>SCH of Fluid</strong> with the VendorId set to <code>b9</code></li>
  <li><strong>ID of Pipes</strong> with the VendorId set to <code>b10</code></li>
  <li><strong>Expected heat loss</strong> with the VendorId set to <code>b11</code></li>
  <li><strong>Fluid density</strong> with the VendorId set to <code>b12</code></li>
</ul>
</div>`
  document.getElementById("tab-header").innerHTML= '<h3 style="padding-left:50px;">Please Select a connection.</h3>'
  document.getElementById("how-to").innerHTML = howTo
	window.addEventListener('message', function(event) {
		if (event.origin.includes('webapp')) {
			event.data.backendurl = event.origin.replace('webapp', 'legacyapi')
		} else if (event.origin.includes('fieldap.com')) {
			event.data.backendurl = event.origin.replace('fieldap.com', 'backend.fieldap.com')
		} else {
			event.data.backendurl = 'http://localhost:3000'
		}
		changeData(event.data);
	});

	function loadDoc(data) {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
		  if (this.readyState == 4) {
				if (this.status == 200) {
					const metaData = this.response
          const ctx = document.getElementById('chart-canvas').getContext('2d');
          const chart = new Chart(ctx, {
          // The type of chart we want to create
          type: 'line',

          // The data for our dataset
          data: {
            labels:metaData.points.map(p => p.x),
							datasets: [{
								data: metaData.points.map(p => p.y),
								label: metaData.yAxislabel,
								backgroundColor: "",
								borderColor: "blue",
              }],
          },
        // Configuration options go here
        options: {
							legend :{
								display: false
							},
							responsive: true,
							maintainAspectRatio:false,
							title:{
									display:true,
									position: 'top',
									text: metaData.title || 'no Title',
									padding:10,
									fontSize:18
							},
							scales: {
								xAxes: [{
									scaleLabel: {
										display: true,
										labelString: metaData.xAxisLabel
									}
								}],
								yAxes: [{
									scaleLabel:{
										labelString: metaData.yAxisLabel,
										display:true,
									},
								}]
							}
						}
        });
      } else {
				document.getElementById("tab-header").innerHTML = '<h3 style="padding-left:50px;">Some error occured. Does the selected Connection have the right set of MetaData?</h3>'
        document.getElementById("canvas-container").innerHTML = ''
        document.getElementById("how-to").innerHTML = howTo

    	}
    }
		};

		xhttp.open("GET", `${window.location.origin}/API/v1/{{body.project}}/subProject/{{body.subProject}}/${data.type}/${data.id}`, true);
		xhttp.responseType = 'json'
		xhttp.setRequestHeader("authorization", "bearer {{body.token}}")
		xhttp.setRequestHeader("backendurl", data.backendurl)
		xhttp.send();
	}

	function changeData(data) {
	  if (data.event === "select" && data.type === "connection") {
      document.getElementById("canvas-container").innerHTML = '<canvas id="chart-canvas"></canvas>'
      document.getElementById("tab-header").innerHTML = ''
      document.getElementById("how-to").innerHTML = ''
			selected = true
			dataId = data.id
		  loadDoc(data)
		} else if (selected && data.event === "didUpdate" && (data.type === "metaDatumValue" || data.type === "connection")) {
			data.type = "connection"
			data.id = dataId
      document.getElementById("canvas-container").innerHTML = '<canvas id="chart-canvas"></canvas>'
      document.getElementById("tab-header").innerHTML = ''
      document.getElementById("how-to").innerHTML = ''
		  loadDoc(data)
	  } else if (data.event === "unselect") {
			document.getElementById("tab-header").innerHTML= '<h3 style="padding-left:50px;">Please Select a connection.</h3>'
      document.getElementById("how-to").innerHTML = howTo
			document.getElementById("canvas-container").innerHTML = ''
			dataId = undefined
			selected = false
	  }
	}

</script>
</body>
</html>