<!DOCTYPE html>
<html>

<head>
  <link  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.15/dist/vue.js"></script>
  <script src="https://cdn.sheetjs.com/xlsx-0.20.1/package/dist/xlsx.mini.min.js"></script>
</head>

<body>
  <div id="app" class="continer-fluid m-3">
    <h3 v-if="message">{{ message }}</h3>
    <div class="card mt-3" v-if="selected.id">
      <div class="card-body">
        <ul class="list-group list-group-flush" v-if="!loading && !!errorMessage">
          <li class="list-group-item">
            <div class="alert alert-warning" role="alert">
              {{ errorMessage }}
            </div>
          </li>
        </ul>
        <ul class="list-group list-group-flush" v-if="loading">
          <li class="list-group-item">
            Fetching metadata...
          </li>
        </ul>
        <ul class="list-group list-group-flush" v-if="!loading && !metaData.length">
          <li class="list-group-item">
            This object has no metadata.
          </li>
        </ul>
        <ul class="list-group list-group-flush" v-if="!loading && metaData.length">
          <li class="list-group-item pb-3">
            <p>Click to export the selected object's metadata to an Excel file</p>
            <button class="btn btn-primary" @click="downloadMetaData">Download Metadata</button>
          </li>
          <li class="list-group-item">
            <p>
              This section allows you to upload an Excel file containing object metadata
              and (step 1) compare the uploaded values with the existing values then (step 2)
              apply the values from the Excel file in FieldTwin.
            </p>
            <input type="file" ref="fileInput" @change="uploadFile" />
            <div class="mt-2">
              <button class="btn btn-primary" @click="compareMetaData">Compare Metadata</button>
              <button class="btn btn-success" @click="uploadMetaData" v-if="comparisonResults.length">Store Metadata</button>
            </div>
            <div class="table-responsive" v-if="comparisonResults.length">
              <table class="table mt-3">
                <thead>
                  <tr>
                    <th>Match</th>
                    <th>Existing Metadata</th>
                    <th>Uploaded Metadata</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="result in comparisonResults" :class="{ 'table-danger': !result.match }">
                    <td>{{ result.match }}</td>
                    <td>{{ result.value1 }}</td>
                    <td>{{ result.value2 }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <script>
    const app = new Vue({
      el: '#app',
      data: {
        backendUrl: '',
        token: '',
        projectId: '',
        subProjectId: '',
        loading: false,
        metaDataDefinitions: null,
        message: 'Initialising...',
        errorMessage: '',
        selected: { id: null },
        metaData: [],
        comparisonResults: []
      },
      methods: {
        init(backendUrl, token, projectId, subProjectId) {
          this.backendUrl = backendUrl
          this.token = token
          this.projectId = projectId
          this.subProjectId = subProjectId

          if (!this.metaDataDefinitions) {
            this.fetchMetadataDefinitions()
          }
        },
        reset() {
          this.message = 'Select an object...'
          this.errorMessage = ''
          this.selected = { id: null }
          this.metaData = []
          this.comparisonResults = []
          this.clearUploadFile()
        },
        uploadFile() {
          this.file = this.$refs.fileInput.files[0]
        },
        clearUploadFile() {
          if (this.$refs.fileInput) {
            this.$refs.fileInput.value = ''
          }
        },
        fetchMetadataDefinitions() {
          this.metaDataDefinitions = {}
          fetch(`${this.backendUrl}/API/v1.9/metadatadefinitions`, {
            headers: { 'Authorization': 'Bearer ' + this.token }
          })
            .then((response) => response.json())
            .then((data) => {
              this.metaDataDefinitions = data
            })
            .catch((error) => {
              this.errorMessage = `Error loading metadata definitions: ${error.message}`
              console.error(error)
            })
        },
        setSelected(id, name, type) {
          this.message = `Selected: ${type} ${id}`
          this.selected = { id, name, type }
          this.metaData = []
          this.loading = true
          fetch(`${this.backendUrl}/API/v1.9/${this.projectId}/subProject/${this.subProjectId}/${this.selected.type}/${this.selected.id}`, {
            headers: { 'Authorization': 'Bearer ' + this.token }
          })
            .then((response) => response.json())
            .then((data) => {
              this.metaData = this.filterMetadata(data.metaData || [])
            })
            .catch((error) => {
              this.errorMessage = `Error loading metadata values: ${error.message}`
              console.error(error)
            })
            .finally(() => {
              this.loading = false
            })
        },
        downloadMetaData() {
          const workbook = XLSX.utils.book_new()
          const worksheet = XLSX.utils.json_to_sheet(this.metaData)
          XLSX.utils.book_append_sheet(workbook, worksheet, "Data")
          const filename = this.selected.id + ".xlsx"
          XLSX.writeFile(workbook, filename)
          this.message = "Data exported to " + filename
        },
        compareMetaData() {
          this.comparisonResults = []
          const reader = new FileReader()
          reader.onload = (e) => {

            // Read uploaded file
            const data = new Uint8Array(e.target.result)
            const workbook = XLSX.read(data, { type: "array" })
            const firstSheetName = workbook.SheetNames[0]
            const worksheet = workbook.Sheets[firstSheetName]
            const uploadedList = XLSX.utils.sheet_to_json(worksheet, { header: 1 })

            // Load metaData into SheetJS to get it in the same format
            const workbook2 = XLSX.utils.book_new()
            const worksheet2 = XLSX.utils.json_to_sheet(this.metaData)
            XLSX.utils.book_append_sheet(workbook2, worksheet2, "Data")
            const originalList = XLSX.utils.sheet_to_json(worksheet2, { header: 1 })

            // Compare the rows
            for (let i = 0; i < Math.max(originalList.length, uploadedList.length); i++) {
              const rowNumber = i + 1
              let match = false
              let value1 = originalList[i]
              let value2 = uploadedList[i]
              if (value1 === undefined) {
                value1 = ''
              } else if (value2 === undefined) {
                value2 = ''
              } else {
                match = JSON.stringify(value1) === JSON.stringify(value2)
              }
              this.comparisonResults.push({ rowNumber, value1, value2, match })
            }
          }
          reader.readAsArrayBuffer(this.file)
        },
        uploadMetaData() {
          const reader = new FileReader()
          reader.onload = (e) => {
            const data = new Uint8Array(e.target.result)
            const workbook = XLSX.read(data, { type: "array" })
            const worksheet = workbook.Sheets[workbook.SheetNames[0]]
            const uploadedList = XLSX.utils.sheet_to_json(worksheet)

            try {
              fetch(`${this.backendUrl}/API/v1.9/${this.projectId}/subProject/${this.subProjectId}/${this.selected.type}/${this.selected.id}`, {
                method: 'PATCH',
                headers: { 'Authorization': 'Bearer ' + this.token, 'Content-Type': 'application/json' },
                body: JSON.stringify({
                  metaData: this.sheetArrayToAPI(uploadedList)
                })
              })
                .then((response) => response.json())
                .then((data) => {
                  this.message = `Successfully stored ${this.selected.type} metadata for ${this.selected.id}`
                  setTimeout(this.reset.bind(this), 2000)
                })
                .catch((error) => {
                  this.errorMessage = `Error saving metadata values: ${error.message}`
                  console.error(error)
                })
            } catch (error) {
              this.errorMessage = `Error preparing metadata values: ${error.message}`
              console.error(error)
            }
          }
          reader.readAsArrayBuffer(this.file)
        },

        /**** Metadata loading helpers ****/

        filterMetadata(mdArray) {
          const supportedTypes = ['string', 'numerical', 'slider', 'boolean', 'choices']
          return mdArray
            .filter((md) => supportedTypes.includes(md.type))
            .map((md) => {
              // Get the attributes to put in the xlsx file
              //   - metaDatumId is required to identify the metadatum field definition
              //   - the format of value depends on type
              //   - the value and option (unit for numerics) are the values that can be updated
              return {
                metaDatumId: md.metaDatumId,
                name: md.name,
                type: md.type,
                value: this.formatMetadataValue(md.value, md.type),
                option: md.option
              }
            })
            .sort((a, b) => a.metaDatumId <= b.metaDatumId ? -1 : 1)
        },
        formatMetadataValue(value, type) {
          switch (type) {
            case 'choices':
              if (Array.isArray(value)) {
                return value.map((v) => v.customValue || v.name).join('; ')
              }
              return value ? (value.customValue || value.name) : ''
            case 'boolean':
              return (value === true || value === 'true') ? 'true' : 'false'
            case 'numerical':
            case 'slider':
              return (value !== null && value !== undefined) ? value : ''
            default:
              return String(value || '')
          }
        },

        /**** Metadata saving helpers ****/

        sheetArrayToAPI(arr) {
          arr.forEach((row) => {
            if (!row.metaDatumId) {
              throw new Error(`metaDatumId missing for value: ${row.value}`)
            }
            // Set the value attribute according to its type
            row.value = this.parseMetadataValue(row.value, row.type, row.metaDatumId)
          })
          return arr
        },
        parseMetadataValue(excelValue, type, definitionId) {
          switch (type) {
            case 'choices':
              return excelValue ? this.createChoiceValue("" + excelValue, definitionId) : null
            case 'boolean':
              return excelValue ? ['true', '1', 'yes'].includes(String(excelValue).toLowerCase()) : null
            case 'numerical':
            case 'slider':
              return excelValue || excelValue === 0 ? parseFloat(excelValue) : null
            default:
              return excelValue || null
          }
        },
        createChoiceValue(strValue, definitionId) {
          const definition = this.metaDataDefinitions[definitionId]
          if (!definition) {
            throw new Error(`Metadatum definition not found with id: ${definitionId}`)
          }
          if (definition.options.multi) {
            // value will be an array of choices
            const strValues = strValue.split(';').map((v) => v.trim()).filter((v) => !!v)
            return strValues.map((v) => this.findOption(definition, v))
          } else {
            // value will be a single choice
            return this.findOption(definition, strValue)
          }
        },
        findOption(definition, name) {
          const option = definition.options.items.list.find(
            (option) => (option.customValue || option.name || '').toLowerCase() === name.toLowerCase()
          )
          if (!option) {
            throw new Error(`'${name}' is not a valid choice for metaDatumId ${definition.id}`)
          }
          return option
        }
      }
    })

    const appReset = app.reset.bind(app)

    function onWindowMessage(event) {
      switch (event.data.event) {
        case 'loaded':
        case 'tokenRefresh':
          app.init(event.data.backendUrl, event.data.token, event.data.project, event.data.subProject)
          app.message = 'Select an object...'
          break
        case 'select':
          const selection = event.data.data
          const supportedTypes = ['connection', 'stagedAsset', 'well']
          if (selection.length && supportedTypes.includes(selection[0].type)) {
            app.setSelected(selection[0].id, selection[0].name, selection[0].type)
          } else {
            appReset()
          }
          break
        case 'unselect':
          appReset()
          break
      }
    }
    window.addEventListener("message", onWindowMessage)
  </script>
</body>

</html>